body{
    position: fixed;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    opacity: 0.9;
  }
  li{
    float: right;
    margin-right: 30px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #111;
  }
  form {
    margin-left: 300px;
    position: fixed;
    width: 500px;
    padding: 200px;
    border-radius: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.background {
    background-color: #CBCBCB ;
    opacity: 70%;
}
.text {
    margin-left: 100px;
    position: absolute;
  }
  .red {
    /* background-color: red;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/480px-Red_X.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.green {
    /*background-color: chartreuse;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e4/Green_tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.greentxt {
    color: chartreuse;
}
.redtxt {
    color: red;
}
