body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', Arial, Verdana, sans-serif!important;
  font-size: 16px;
  background-color:white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    opacity: 0.9;
  }
li{
    float: right;
    margin-right: 30px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #111;
  }


  form {
    position: absolute;
    margin-right: 60%;
    width: 40%;
    height: 100%;
    /* padding:120px; */
    border-radius: 5%;
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
}
.red {
    /* background-color: red;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/480px-Red_X.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.green {
    /*background-color: chartreuse;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e4/Green_tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.greentxt {
    color: chartreuse;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left:100px;
}
.redtxt {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  margin-left:100px;
  color: red;
}
input{
  border: none;
  border-bottom: 4px solid black;  
  height: 40px;
  width: 400px;
  font-size: 20px;
  margin-top: 20px;
}
input[type=submit]{
  border: none;
  height: 40px;
  width: 200px;
  font-size: 20px;
  color:  black;
  font-weight: bold;
  border-radius: 5%;
}
input[type=button]{
  border: none;
  height: 40px;
  width: 200px;
  font-size: 20px;
  color:  black;
  font-weight: bold;
  border-radius: 5%;
}
p {
  font-size: 20px;
  color:  black;
  font-weight: bold;
  margin: 10px;
}
.text {
  margin-left: 100px;
  position: absolute;
  font-family: 'Barlow', sans-serif;
  font-family: 'Sora', sans-serif;
  
}
.missing {
  height: 250px;
  width:370px;
  background-color: #DDEDF0;
  padding: 10px;
  padding-left: 30px;
  margin-left:100px;
  margin-top: 20px;
  text-align: left;
  margin-right: 30px;

}
.backgroundimage {
  position: fixed;
  margin-top: 0px;
  margin-left: 45%;
  width: 55%;
  height: 754px;
  background: linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.363) ),url("https://p0.pikist.com/photos/736/87/diversity-children-play-game-friendship-togetherness-together-kids-friends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}