.div {
    right: 50px;  
    width: 10px;
    height: 10px;
}
.green {
    background-color: chartreuse;
}
.red {
    background-color: red;
}
.greentxt {
    color: chartreuse;
}
.redtxt {
    color: red;
}

#h1{
    height: 10px;
}
.missing {
    height: 250px;
    width: 400px;
    background-color: skyblue;
    padding: 5px;
    padding-left: 30px;

}
body {
    height: 100%;
    width: 100%;
}
#form.invalid #inputBox {
   content: '';
   position: absolute;
   right: 2px;
   top: 12px;
   width: 24px;
   height: 24px;
   background: url(invalid.png);
   background-size: cover;
   z-index: 1000;
}
#form.valid #inputBox {
    content: '';
    position: absolute;
    right: 2px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(valid.png);
    background-size: cover;
    z-index: 1000;
 }
 input{
    border: none;
    border-bottom: 4px solid #8842d5;  
    height: 40px;
    width: 200px;
    font-size: 20px;
}
form {
    margin-left: 200px;
    margin-top: 150px;;
    position: relative;
}

input[type=submit]{
    border: none;
    height: 40px;
    width: 200px;
    font-size: 20px;
    color:  #8842d5;
    font-weight: bold;
} 
label {
    font-size: 20px;
    color:  black;
}
br {
    height: 10px;;
}
.usernameSucess{
float: right;
width: 100%;
}