ul{
    list-style-type: none;
    width: 100;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    top:0;
    position: relative;
}
.text {
        margin-left: 100px;
        position: absolute;
        font-family: 'Barlow', sans-serif;
         font-family: 'Quicksand', sans-serif;
         font-family: 'Sora', sans-serif;
  }

.red {
    /* background-color: red;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/480px-Red_X.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.green {
    /*background-color: chartreuse;*/
    width: 10px;
    height: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e4/Green_tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.greentxt {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left:100px;
    color: chartreuse;
}
.redtxt {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left:100px;
    color: red;
}

#h1{
    height: 10px;
}
.missing {
    height: 250px;
    width:370px;
    background-color: #DDEDF0;
    padding: 10px;
    padding-left: 30px;
    margin-left:100px;
    margin-top: 20px;
    text-align: left;
    margin-right: 30px;

}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', Arial, Verdana, sans-serif!important;
    font-size: 16px;
    background-color:white;
}
/* #form.invalid #inputBox {
   content: '';
   position: absolute;
   right: 2px;
   top: 12px;
   width: 24px;
   height: 24px;
   background: url(invalid.png);
   background-size: cover;
   z-index: 1000;
}
#form.valid #inputBox {
    content: '';
    position: absolute;
    right: 2px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(valid.png);
    background-size: cover;
    z-index: 1000;
 } */
 input{
    border: none;
    border-bottom: 4px solid black;  
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-top: 20px;
}
form {
    position: absolute;
    margin-right: 60%;
    width: 40%;
    height: 750px;
    /* padding:120px; */
    border-radius: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

input[type=submit]{
    border: none;
    height: 40px;
    width: 200px;
    font-size: 20px;
    color:  black;
    font-weight: bold;
    border-radius: 5%;
}
input[type=button]{
    border: none;
    height: 40px;
    width: 200px;
    font-size: 20px;
    color:  black;
    font-weight: bold;
    border-radius: 5%;
}
label {
    font-size: 20px;
    color:  black;
}
br {
    height: 10px;;
}
.usernameSucess{
float: right;
width: 100%;
}
.dropdown {
    color: black;
    width: 400px;;
    padding:5px;
    font-size: 20px;
    background-color: #E9E8E8;
}
p {
    font-size: 20px;
    color:  black;
    font-weight: bold;
    margin: 10px;
  
}
.wide {
    width: 400px;
}
.title {
    font-size: 75px;
    color:  white;
    font-weight: bold;
    margin-top: 100px;
    position: absolute;
    margin-left: 800px;
    width: 500px;
    text-align: center;
}
.backgroundimage {
    position: fixed;
    margin-top: 0px;
    margin-left: 45%;
    width: 55%;
    height: 754px;
    background: linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.363) ),url("https://p0.pikist.com/photos/843/895/boy-kids-autumn-nature-child-felled-trees-season-wood-tree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  li{
    float: right;
    margin-right: 30px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #111;
  }